@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Emilys+Candy&family=Salsa&family=Ultra&display=swap');

body {
  background: url(https://wallpapercave.com/wp/wp3430475.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Salsa', cursive;
}

/* HEADER */
#stickers-header {
  padding: 10px;
  text-align: center;
}

#stickers-header img {
  background-color: #302244;
  border: 7px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin: 20px auto;
  max-width: 30vw;
  max-height: 30vw;
}

/* GENERAL */
h1 {
  font-family: 'Emilys Candy', cursive;
  font-size: 50px;
}

h2 {
  font-family: 'Emilys Candy', cursive;
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

form {
  padding-bottom: 2vw;
}

input {
  font-family: 'Salsa', cursive;
  font-size: 20px;
}

select {
  font-family: 'Salsa', cursive;
  font-size: 20px;
}

ul {
  padding-inline-start: 0px;
}

li {
  font-size: 20px;
  text-align: center;
  margin: 0 0 8px 0;
  list-style: square;
  list-style-position: inside;
}

label {
  cursor: default;
  font-weight: bold;
  font-size: 20px;
}

/* ADULT USER */
#adult-login-signup-container input[type="submit" i] {
  background-image: linear-gradient(to right, #b827fc, #2c90fc, #b8fd33);
}

#adult-user-info {
  display: block;
  flex-flow: column;
  align-items: center;
  padding-bottom: 25px;
}

#adult-user-info h1{
  margin-block-end: 0.10em;
}

#adult-user-info h2{
  margin-block-end: 0.10em;
}

#adult-user-info button {
  color: white;
  background-image: linear-gradient(to right, blue, purple, teal);
}

#adult-user-info img {
  max-width: 25vw;
  max-height: 25vw;
}

#adult-user-info div {
  display: inline-flex;
}

#adult-user-info span {
  display: inline-block;
  padding: 5px;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin: 30px;
}

#adult-user-info span img {
  max-width: 15vw;
  max-height: 15vw;
}

/* ADULT TASKS */
#adult-tasks-container {
  height: 75vh;
  text-align: center;
}

#adult-task-bar {
  height: 25vh;
  background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
}

#adult-task-bar span {
  font-size: 20px;
  height: 80%;
  width: 10vw;
  display: flex;
  justify-content: center;
  margin: 5px;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid black;
}

#adult-task-info {
  display: block;
  flex-flow: column;
  align-items: center;
  padding-bottom: 25px;
}

#adult-task-info img {
  max-width: 15vw;
  max-height: 15vw;
}

/* ADULT TASK IMAGES */
#adult-task-image-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-task-image-bar img {
  width:  150px;
  height: 75px;
}

#adult-task-image-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-task-image-info img {
  max-width: 250px;
  max-height: 125px;
}

#adult-edit-task-image-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-edit-task-image-bar img {
  width:  150px;
  height: 75px;
}

#adult-edit-task-image-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-edit-task-image-info img {
  max-width: 250px;
  max-height: 125px;
}

/* ADULT STICKERS */
#adult-sticker-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-sticker-bar img {
  width:  75px;
  height: 75px;
}

#adult-sticker-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-sticker-info img {
  max-width: 125px;
  max-height: 125px;
}

#adult-edit-sticker-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-edit-sticker-bar img {
  width:  75px;
  height: 75px;
}

#adult-edit-sticker-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-edit-sticker-info img {
  max-width: 125px;
  max-height: 125px;
}

/* ADULT PRIZES */
#adult-prizes-container {
  height: 75vh;
  text-align: center;
}

#adult-prize-info {
  display: block;
  flex-flow: column;
  align-items: center;
  padding-bottom: 25px;
}

#adult-prize-bar {
  height: auto;
  background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  display: block;
  justify-content: space-around;
  align-items: center;
}

#adult-prize-bar img {
  width:  250px;
  height: 125px;
}

#adult-prize-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-prize-info img {
  max-width: 20vw;
  max-height: 20vw;
}

/* ADULT PRIZE IMAGES */
#adult-prize-image-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-prize-image-bar img {
  width:  300px;
  height: 150px;
}

#adult-prize-image-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-prize-image-info img {
  max-width: 15vw;
  max-height: 15vw;
}

#adult-edit-prize-image-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-edit-prize-image-bar img {
  width:  300px;
  height: 150px;
}

#adult-edit-prize-image-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-edit-prize-image-info img {
  max-width: 20vw;
  max-height: 20vw;
}

/* CHILD USER */
#child-login-signup-container input[type="submit" i] {
  background-image: linear-gradient(to right, #b827fc, #2c90fc, #b8fd33);
}

#child-user-info {
  padding-bottom: 25px;
}

#child-user-info h1{
  margin-block-end: 0.10em;
}

#child-user-info li{
  font-size: 25px;
}

#child-user-info button {
  color: white;
  background-image: linear-gradient(to right, blue, purple, teal);
}

#child-user-info img {
  max-width: 20vw;
  max-height: 20vw;
}

/* CHILD TASKS */
#child-task-bar {
  height: 25vh;
  background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
}

#child-task-bar span {
  font-size: 20px;
  height: 80%;
  width: 10vw;
  display: flex;
  justify-content: center;
  margin: 5px;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid black;
}

#child-tasks-container {
  height: 75vh;
  text-align: center;
}

#child-task-info {
  display: block;
  flex-flow: column;
  align-items: center;
  padding-bottom: 25px;
}

#child-task-info img {
  max-width: 15vw;
  max-height: 15vw;
}

/* CHILD STICKERS*/
#child-stickers-collection {
  text-align: center;
  padding-bottom: 25px;
}

#child-stickers-collection img {
  width:  125px;
  height: 125px;
  padding-right: 10px;
}

#child-stickers-collection span {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

/* CHILD PRIZES */
#child-prizes-collection {
  text-align: center;
  padding-bottom: 25px;
}

#child-prizes-collection img {
  width:  250px;
  height: 125px;
  padding-right: 10px;
}

#child-prizes-container {
  height: 75vh;
  text-align: center;
}

#child-prize-info {
  display: block;
  flex-flow: column;
  align-items: center;
  padding-bottom: 25px;
}

#child-prize-bar {
  height: auto;
  background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  display: block;
  justify-content: space-around;
  align-items: center;
}

#child-prize-bar img {
  width:  250px;
  height: 125px;
}

#child-prize-bar span {
  padding: 1vw;
  display:inline-block;
}

#child-prize-info img {
  max-width: 20vw;
  max-height: 20vw;
}

/* CHILD PRIZE IMAGES */
#child-prize-image-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#child-prize-image-bar img {
  width:  150px;
  height: 75px;
}

#child-prize-image-bar span {
  padding: 1vw;
  display:inline-block;
}

#child-prize-image-info img {
  max-width: 250px;
  max-height: 125px;
}

/* ADULT BUTTONS */
input[type="submit" i] {
  font-family: 'Salsa', cursive;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(to right, blue, red);
}

#adult-tasks-container button {
  font-family: 'Salsa', cursive;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(to right, blue, red);
}

#adult-prizes-container button {
  font-family: 'Salsa', cursive;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(to right, blue, red);
}

.adultPageBtn {
  color: black;
  background-image: linear-gradient(to right, red, yellow);
}

.adultTasksBtn {
  color: white;
  background-image: linear-gradient(to right, purple, blue);
}

.createTaskBtn {
  color: white;
  background-image: linear-gradient(to right, blue, red);
}

.markTaskCompleted {
  color: blue;
}

.topOfStickers {
  color: blue;
}

.adultPrizesBtn {
  color: white;
  background-image: linear-gradient(to right, red, rgb(250, 120, 142));
}

.addPrizeBtn {
  color: white;
  background-image: linear-gradient(to right, rgb(250, 120, 142), gold);
}

/* CHILD BUTTONS */
#child-tasks-container button {
  font-family: 'Salsa', cursive;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(to right, blue, red);
}

#child-prizes-container button {
  font-family: 'Salsa', cursive;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(to right, blue, red);
}

.childPageBtn {
  color: black;
  background-image: linear-gradient(to right, gold, lime);
}

.childTasksBtn {
  color: white;
  background-image: linear-gradient(to right, purple, blue);
}

.stickersPageBtn {
  color: white;
  background-image: linear-gradient(to right, blue, red);
}

.childPrizesBtn {
  color: white;
  background-image: linear-gradient(to right, red, rgb(250, 120, 142));
}

.prizesCollectionBtn {
  color: white;
  background-image: linear-gradient(to right, rgb(250, 120, 142), gold);
}

.collectStickerPoints {
  color: red;
}

/* BUTTONS */
button {
  font-family: 'Salsa', cursive;
  font-size: 20px;
}

.delete.delete { 
  color: red;
}

.userProfileBtn {
  color: white;
  background-image: linear-gradient(to right, orange, purple);
}

.logoutBtn {
  color: white;
  background-image: linear-gradient(to right, gold, green);
}