body {
  background: white;
  background-size: cover;
  margin: 0;
}

#user-info img {
  max-width: 15vw;
  max-height: 15vw;
}

#filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

#completed-task-filter {
  margin-top: 1vh;
  width: 35vw;
  font-size: 1em;
  height: 5vh;
  border-radius: 3em;
}

#task-bar {
  height: 15vh;
  background: yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#task-bar span {
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid blue;
}

#task-summary-container {
  height: 75vh;
  text-align: center;
}

#task-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#stickers-header {
  text-align: center;
}

#stickers-header img {
  max-width: 10vw;
  max-height: 10vw;
}

#task-info img {
  max-width: 20vw;
  max-height: 20vw;
}

li {
  font-size: 25px;
  text-align: center;
  list-style: square;
  font-weight: bold;
}