body {
  background: white;
  background-size: cover;
  margin: 0;
}

#stickers-header {
  padding: 10px;
  text-align: center;
}

#stickers-header img {
  max-width: 30vw;
  max-height: 30vw;
}

#adult-user-info {
  padding-bottom: 25px;
}

#adult-user-info img {
  max-width: 15vw;
  max-height: 15vw;
}

#adult-tasks-container {
  height: 75vh;
  text-align: center;
}

#adult-task-bar {
  height: 20vh;
  background: yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-task-bar span {
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid blue;
}

#adult-task-info {
  display: block;
  flex-flow: column;
  align-items: center;
  padding-bottom: 25px;
}

#adult-task-info img {
  max-width: 15vw;
  max-height: 15vw;
}

#adult-task-image-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-task-image-bar img {
  width:  150px;
  height: 75px;
}

#adult-task-image-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-task-image-info img {
  max-width: 250px;
  max-height: 125px;
}

#adult-edit-task-image-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-edit-task-image-bar img {
  width:  150px;
  height: 75px;
}

#adult-edit-task-image-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-edit-task-image-info img {
  max-width: 250px;
  max-height: 125px;
}

#adult-sticker-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-sticker-bar img {
  width:  75px;
  height: 75px;
}

#adult-sticker-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-sticker-info img {
  max-width: 125px;
  max-height: 125px;
}

#adult-edit-sticker-bar {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#adult-edit-sticker-bar img {
  width:  75px;
  height: 75px;
}

#adult-edit-sticker-bar span {
  padding: 1vw;
  display:inline-block;
}

#adult-edit-sticker-info img {
  max-width: 125px;
  max-height: 125px;
}

#child-user-info {
  padding-bottom: 25px;
}

#child-user-info img {
  max-width: 15vw;
  max-height: 15vw;
}

#child-task-bar {
  height: 20vh;
  background: yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#child-task-bar span {
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid blue;
}

#child-tasks-container {
  height: 75vh;
  text-align: center;
}

#child-task-info {
  display: block;
  flex-flow: column;
  align-items: center;
  padding-bottom: 25px;
}

#child-task-info img {
  max-width: 15vw;
  max-height: 15vw;
}

li {
  font-size: 25px;
  text-align: center;
  list-style: square;
  font-weight: bold;
  margin: 0 0 8px 0;
}

.adultPageBtn {
  color: black;
  background-image: linear-gradient(to right, red , yellow);
}

.childPageBtn {
  color: black;
  background-image: linear-gradient(to right, yellow , lime);
}

.delete.delete {
  color: red;
}

.userProfileBtn {
  color: white;
  background-image: linear-gradient(to right, orange , purple);
}

.adultTasksBtn {
  color: white;
  background-image: linear-gradient(to right, purple , blue);
}

.childTasksBtn {
  color: white;
  background-image: linear-gradient(to right, purple , blue);
}

.createTaskBtn {
  color: white;
  background-image: linear-gradient(to right, blue , red);
}

.stickersPageBtn {
  color: white;
  background-image: linear-gradient(to right, blue , red);
}

.logoutBtn {
  color: white;
  background-image: linear-gradient(to right, red , yellow);
}

.topOfStickers {
  color: blue;
}